.areaBox {
    margin-top: 15px;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.listaDesbravador {

    width: 38%;
    margin-left: 20px;

}

.listaUnidade {
    width: 22%;
    margin-left: 25px;
}